# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Build output
build/

# Dependency directories
vendor/
*/vendor/
**/vendor/

# OS Files
.DS_Store
ehthumbs.db
Thumbs.db

# Go-specific
*.exe
*.test
*.prof
*.out
*.testify.out

# Visual Studio Code specific
.vscode/

# My personal off-line notes and files
_my_files/
